<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.demo.sblearning.dao.bookDAO">
    <resultMap id="BaseResultMap" type="com.springboot.demo.sblearning.entity.Book">
        <id column="book_id" jdbcType="INTEGER" property="bookId" />
        <result column="book_name" jdbcType="VARCHAR" property="bookName" />
        <result column="book_price" jdbcType="VARCHAR" property="bookPress" />
    </resultMap>

    <sql id="Base_column_List">
        bookId,bookName,bookPress
    </sql>

    <select id="selectBookByBookId" parameterType="java.lang.Integer" resultType="com.springboot.demo.sblearning.entity.Book">
        select bookId, bookName, bookPress
        from book
        where bookId = #{bookId}
    </select>
</mapper>
